//基本顏色+線路搭配色


//BYPASS MODE
$orange-500: #ff9800;
$orange-200: #ffcc80;
//堆料模式
$light-blue-500: #03a9f4;
$light-blue-200: #81d4fa;

//取料模式
$green-500: #4caf50;
$green-200: #a5d6a7;

//防撞緊急停止
$red-500: #f44336;
$red-200: #ef9a9a;

//防撞正常停止
$pink-400: #ec407a;
$pink-200: #f48fb1;

//防撞範圍內
$yellow-600: #fdd835;
$yellow-200: #fff59d;

//無
$w11-no-signal: #BDB9A5;