.map {

  width: 1360px;
  height: 860px;
  background-image: url(../img/w11_bg.svg);
  background-size: cover;

  position: relative;
  /* 讓子元素相對於這個父元素 */

  flex-shrink: 0;
  /* 禁止 被壓縮 */

  z-index: -99;
}