//更新時間
.lbl_datetime {
  width: 140px;
  height: 140px;
  position: relative;
  top: 56px;
  left: 1194px;


  span {
    line-height: 30px;
    text-align: center;
  }

}


//風向、風速
.datewind {
  width: 100px;
  height: 40px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 64px;
  left: 1230px;
  gap: 4px;
}










//資料框 的部分

.flow {
  width: 140px;
  height: 60px;
  background-image: url(../img/flow.svg);
  background-repeat: no-repeat;




  .flow-group {
    display: flex;
    position: relative;
    top: 7px;
    left: 7px;
    gap: 8px;
    padding: 1px 0;
  }

  .flow-111 {
    position: relative;
    top: 12px;
    left: 12px;

    padding: 1px 0;
  }
}




.Reclaimer-sr-9 {
  position: absolute;
  top: 22px;
  left: 399px;
}

.Reclaimer-sr-8 {
  position: absolute;
  top: 110px;
  left: 426px;
}

// .Reclaimer-scr-8 {
//   position: absolute;
//   top: 200px;
//   left: 230px;
// }


// .Reclaimer-scr-7 {
//   position: absolute;
//   top: 200px;
//   left: 426px;
// }

// .Reclaimer-scr-6 {
//   position: absolute;
//   top: 270px;
//   left: 230px;
// }


// .Reclaimer-scr-5 {
//   position: absolute;
//   top: 270px;
//   left: 426px;
// }


.Reclaimer-sr-6A {
  position: absolute;
  top: 374px;
  left: 505px;
}

.Reclaimer-sr-5A {
  position: absolute;
  top: 465px;
  left: 505px;
}



.Reclaimer-sr-4B {
  position: absolute;
  top: 619px;
  left: 502px;
}


.Reclaimer-sr-4A {
  position: absolute;
  top: 746px;
  left: 294px;
}



.Reclaimer-sr-3B {
  position: absolute;
  top: 598px;
  left: 783px;
}


.Reclaimer-sr-3A {
  position: absolute;
  top: 598px;
  left: 970px;
}



.Reclaimer-sr-1B {
  position: absolute;
  top: 753px;
  left: 816px;
}





//SR的部分 

.sr {
  img {
    width: 134px;
    height: 67px;
  }

}

.sr-9 {
  position: absolute;
  top: 17px;
  left: 256px;
}

.sr-8 {
  position: absolute;
  top: 123px;
  left: 596px;
}


.sr-6A {
  position: absolute;
  top: 364px;
  left: 359px;
}

.sr-5A {
  position: absolute;
  top: 454px;
  left: 359px;
}



.sr-4B {
  position: absolute;
  top: 649px;
  left: 414px;
}


.sr-4A {
  position: absolute;
  top: 675px;
  left: 318px;
}



.sr-3B {
  position: absolute;
  top: 675px;
  left: 863px;
}


.sr-3A {
  position: absolute;
  top: 647px;
  left: 1061px;
}

.sr-1B {
  position: absolute;
  top: 755px;
  left: 966px;
}









.port-mtr-format {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  // padding: 10px 12px;
}




.port-98-L {
  position: absolute;
  top: 400px;
  left: 767px;
}

.port-97-L {
  position: absolute;
  top: 400px;
  left: 1052px;
}

.port-101-L {
  position: absolute;
  top: 214px;
  left: 777px;
}







//船船船船船船船船船船船-------------------
//石
.boat-stone {
  width: 220px;
  height: 72px;
  background-image: url(../img/boat-stone.svg);
  background-repeat: no-repeat;
}

//煤
.boat-coal {
  width: 220px;
  height: 72px;
  background-image: url(../img/boat-coal.svg);
  background-repeat: no-repeat;
}

//鐵
.boat-iron {
  width: 220px;
  height: 72px;
  background-image: url(../img/boat-iron.svg);
  background-repeat: no-repeat;
}

.boat-98-L {
  position: absolute;
  top: 470px;
  left: 797px;
  width: 180px;
  height: 60px;
  background-repeat: no-repeat;

}




.boat-97-L {
  position: absolute;
  top: 470px;
  left: 1079px;
  width: 180px;
  height: 60px;
  background-repeat: no-repeat;
}



.boat-101-L {
  position: absolute;
  top: 282px;
  left: 816px;
  width: 180px;
  height: 60px;
  background-repeat: no-repeat;
}


















//港口等待船 
.wait-boat {

  //石
  .wait-stone {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 320px;
    left: 1229px;
  }

  //煤
  .wait-coal {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 320px;
    left: 1170px;
  }

  //鐵
  .wait-iron {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 320px;
    left: 1296px;
  }


}







//室內料場-----------------------------

.室內料場 {
  position: absolute;
  top: 200px;
  left: 542px;
  writing-mode: vertical-rl;

  button {
    width: 30px;
    height: 120px;
    display: flex;
    align-items: center;
  }
}



//---------SCR的部分
//每一格間距14px

//I區
.scr-I {
  width: 24px;
  height: 57px;

  background-repeat: no-repeat;
  background-size: cover;


}



.scr-6 {

  position: absolute;
  top: 313px;
  left: 211px;
}

.scr-5 {
  position: absolute;
  top: 313px;
  left: 641px;
}




//J區
.scr-J {
  width: 24px;
  height: 57px;
  background-repeat: no-repeat;
  background-size: cover;



}


.scr-8 {
  position: absolute;
  top: 204px;
  left: 211px;
}


.scr-7 {
  position: absolute;
  top: 204px;
  left: 641px;

}






//---------TR的部分
.tr-I {
  width: 16px;
  height: 30px;
  position: absolute;
  top: 277px;

  //最左邊  
  left: 215px;
}

.tr-J {
  width: 16px;
  height: 30px;
  position: absolute;
  top: 254px;

  //最右邊
  left: 646px;
}




//料倉、高爐
.infobox {
  width: 140px;
  height: 90px;
  background-color: #ffffff;
  border: 2px solid #F0845E;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 4px;


  .infobox-below {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .location-volume {
    display: flex;
  }


}

.infobox-group-1 {

  width: 160px;
  height: 800px;
  // background-color: #f0855e41;

  position: absolute;
  top: 24px;
  left: 16px;




  .infobox-group-1-1 {
    position: absolute;
    top: 0px;
    left: 4px;
  }

  .infobox-group-1-2 {
    position: absolute;
    top: 100px;
    left: 4px;
  }



  .infobox-group-1-4 {
    position: absolute;
    top: 346px;
    left: 174px;
  }

  .infobox-group-1-5 {
    position: absolute;
    top: 439px;
    left: 174px;
  }


  .infobox-group-1-6 {
    position: absolute;
    top: 620px;
    left: 4px;
  }

  .infobox-group-1-7 {
    position: absolute;
    top: 720px;
    left: 4px;
  }




  //室內料倉的 倉格
  .infobox-group-1-3 {
    position: absolute;
    top: 206px;
    left: 4px;
  }

  .infobox-group-1-8 {
    position: absolute;
    top: 306px;
    left: 4px;
  }

  .infobox-group-1-9 {
    position: absolute;
    top: 408px;
    left: 4px;
  }


  .infobox-group-1-10 {
    position: absolute;
    top: 508px;
    left: 4px;
  }

}





.infobox-group-4 {
  display: flex;
  width: 100px;
  height: 120px;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 631px;
  left: 1249px;
  gap: 10px;
  justify-content: center;
  align-content: flex-end;

}



.infobox-group-5 {
  display: flex;
  width: 300px;
  height: 140px;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 720px;
  left: 1050px;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;

}













.message {


  display: flex;
  flex-direction: column;
  // margin: 20px;
  gap: 3px;



  //港口詳細

  .port-details {

    width: 476px;
    height: 396px;
    background-image: url(../img/bg-01.svg);
    background-repeat: no-repeat;
    margin: 0 12px;
    // background-position: bottom;
    background-color: rgb(255, 255, 255);
    // border: 2px solid #4E8DB6;
    flex-shrink: 0;
    /* 禁止 被壓縮 */
    background-size: contain;

    position: relative;

    .port-tpo {
      position: absolute;
      top: 1px;
      left: 50px;


    }


    .port-content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: absolute;
      top: 25px;
      left: 34px;
      width: 426px;

    }

    .dock-title {
      display: flex;
      width: 318px;
      height: 24px;


    }


    .port-bottom {
      display: flex;
      position: absolute;
      top: 356px;
      left: 33px;
      gap: 30px;
      justify-content: center;
      width: 400px;
    }

  }



  //煤鐵石詳細

  .material-details {

    width: 476px;
    height: 187px;
    background-image: url(../img/bg-03.svg);
    background-repeat: no-repeat;
    margin: 0 12px;
    // background-position: bottom;
    background-color: rgb(255, 255, 255);
    // border: 2px solid #4E8DB6;
    flex-shrink: 0;
    /* 禁止 被壓縮 */
    background-size: contain;

    position: relative;


    .material-tpo {
      position: absolute;
      top: 1px;
      left: 50px;
    }




    .material-content {
      position: absolute;
      top: 22px;
      left: 12px;
      display: flex;
      width: 452px;
      gap: 8px;
      flex-direction: column;

    }

    .material-button {
      display: flex;
      justify-content: space-between;
    }
  }



  //料場存量狀況
  .silo-details {
    flex-shrink: 0;
    background-image: url(../img/bg-02.svg);

    width: 476px;
    height: 273px;
    background-repeat: no-repeat;
    margin: 0 12px;
    // background-position: bottom;
    background-color: rgb(255, 255, 255);
    // border: 2px solid #4E8DB6;
    flex-shrink: 0;
    /* 禁止 被壓縮 */
    background-size: contain;

    position: relative;

    .silo-tpo {
      position: absolute;
      top: 1px;
      left: 50px;

    }

    .indoor-silo {
      position: absolute;
      top: 242px;
      left: 192px;
    }



    .silo-content {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 22px;
      left: 12px;
      width: 452px;

      .aaaaa {
        background-color: aqua;
        display: flex;
        gap: 5px;

        height: 20px;
      }

      button {
        background-color: #4e8cb600;
        border: 2px solid #4caf4f00;
        /* 綠色邊框 */


        .material-symbols-outlined {
          font-family: 'Material Symbols Outlined';
          font-weight: normal;
          font-style: normal;
          font-size: 10px;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-smoothing: antialiased;
        }
      }


      .silo-top {



        .silo-top-L {
          width: 360px;
        }

        .silo-top-R {
          width: 180px;
        }
      }


    }
  }



}



//港口用插圖

// .oooooo {
//   width: 34px;
//   height: 64px;
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='_圖層_2' data-name='圖層 2' viewBox='0 0 95.99 49.44'%3E%3Cg id='_圖層_2-2' data-name='圖層 2'%3E%3Cg%3E%3Cpath d='M3.36,8.22h79.99c5.28,0,9.57,4.29,9.57,9.57v5.94H3.36v-15.51h0Z' style='opacity: .2;'/%3E%3Cg%3E%3Cpath d='M3,.15h82.77c5.64,0,10.22,4.58,10.22,10.22v11.34H3V.15h0Z' style='fill: %23ecb512;'/%3E%3Cg style='opacity: .1;'%3E%3Cpolygon points='24.47 21.74 37.76 5.26 28.39 5.26 15.1 21.74 24.47 21.74' style='fill: %23fff;'/%3E%3Cpolygon points='44.35 5.26 39.66 5.26 26.37 21.74 31.06 21.74 44.35 5.26' style='fill: %23fff;'/%3E%3C/g%3E%3C/g%3E%3Cline x1='3' y1='3' x2='3' y2='46.44' style='fill: none; stroke: %23ecb512; stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 6px;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
// }










.port2 {

  display: flex;
  justify-content: center;
  align-items: center;

  /* 調整旗幟的樣式 */
  .flag {
    background-color: #f9a825;
    border-radius: 10px;
    padding: 6px 0 0 0;
    display: inline-block;
    min-width: 100px;
  }

  /* 上方標題的樣式 */
  .flag .header {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }

  /* 內容區域樣式 */
  .flag .content {
    background-color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 8px;


    .port-a {
      background-color: #eaeaea;
      padding: 6px 12px;
    }
  }

}





//------路線

.track {
  position: absolute;
  top: 0px;
  left: 0px;
  // background-color: #ff00ee27;
  width: 300px;
  height: 200px;
  z-index: -50;


  //K區

  .cl-sr-9-101 {
    position: absolute;
    top: 66px;
    left: 118px;
    width: 1200px;
    height: 600px;
    stroke: #bdb9a5;
    stroke-width: 6px;
    stroke-linejoin: round;
  }


  .cl-sr-9-98 {
    position: absolute;
    top: 66px;
    left: 118px;
    width: 1200px;
    height: 600px;
    stroke: #bdb9a5;
    stroke-width: 6px;
    stroke-linejoin: round;
  }

  .cl-sr-9-97 {
    position: absolute;
    top: 66px;
    left: 118px;
    width: 1200px;
    height: 600px;
    stroke: #bdb9a5;
    stroke-width: 6px;
    stroke-linejoin: round;
  }

  .cl-sr-9 {
    position: absolute;
    top: 66px;
    left: 118px;
    width: 1200px;
    height: 600px;
    stroke: #bdb9a5;
    stroke-width: 6px;
    stroke-linejoin: round;
  }




  .cl-sr-8-101 {
    position: absolute;
    top: 172px;
    left: 118px;
    width: 1000px;
    height: 640px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-8-98 {
    position: absolute;
    top: 172px;
    left: 118px;
    width: 1000px;
    height: 640px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-8-97 {
    position: absolute;
    top: 172px;
    left: 118px;
    width: 1200px;
    height: 640px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }


  .cl-sr-8 {
    position: absolute;
    top: 172px;
    left: 118px;
    width: 1200px;
    height: 640px;
    stroke-width: 6px;
    stroke: #867419;
  }



  // J區 路線
  .cl-scr-7-101 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-scr-7-98 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-scr-7-97 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-scr-7 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;
  }



  .cl-scr-8-101 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-scr-8-98 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-scr-8-97 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-scr-8 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }





  .cl-scr-6-101 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;
  }

  .cl-scr-6-98 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-scr-6-97 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-scr-6 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;
  }


  .cl-scr-5-101 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;
  }

  .cl-scr-5-98 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-scr-5-97 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1100px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;


  }

  .cl-scr-5 {
    position: absolute;
    top: 268px;
    left: 118px;
    width: 1100px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;
  }






  //H區 線路


  .cl-sr-6A-101 {
    position: absolute;
    top: 268px;
    left: 330px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-6A-98 {
    position: absolute;
    top: 268px;
    left: 330px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;
  }

  .cl-sr-6A-97 {
    position: absolute;
    top: 268px;
    left: 330px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;
  }

  .cl-sr-6A {
    position: absolute;
    top: 268px;
    left: 330px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;
  }



  //G區

  .cl-sr-5A-101 {
    position: absolute;
    top: 268px;
    left: 330px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-5A-98 {
    position: absolute;
    top: 268px;
    left: 330px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;
  }

  .cl-sr-5A-97 {
    position: absolute;
    top: 268px;
    left: 330px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: $green-200;
  }

  .cl-sr-5A {
    position: absolute;
    top: 268px;
    left: 330px;
    width: 1000px;
    height: 500px;
    stroke-width: 6px;
    stroke: #bdb9a5;
  }



  // E區




  .cl-sr-4B-101 {
    position: absolute;
    top: 234px;
    left: 161px;
    width: 1000px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-4B-98 {
    position: absolute;
    top: 234px;
    left: 161px;
    width: 1000px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-4B-97 {
    position: absolute;
    top: 234px;
    left: 161px;
    width: 1200px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-4B {
    position: absolute;
    top: 234px;
    left: 161px;
    width: 1200px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;
  }



  //F區 路線


  .cl-sr-4A-101 {
    position: absolute;
    top: 234px;
    left: 160px;
    width: 1000px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-4A-98 {
    position: absolute;
    top: 234px;
    left: 160px;
    width: 1000px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-4A-97 {
    position: absolute;
    top: 234px;
    left: 160px;
    width: 1200px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-4A {
    position: absolute;
    top: 234px;
    left: 160px;
    width: 1200px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;
  }




  //A區 路線
  .cl-sr-3A-101 {
    position: absolute;
    top: 250px;
    left: 649px;
    width: 700px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }


  .cl-sr-3A-98 {
    position: absolute;
    top: 250px;
    left: 649px;
    width: 700px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-3A-97 {
    position: absolute;
    top: 250px;
    left: 649px;
    width: 700px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }


  .cl-sr-3B-101 {
    position: absolute;
    top: 250px;
    left: 649px;
    width: 700px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;


  }


  .cl-sr-3B-97 {
    position: absolute;
    top: 250px;
    left: 649px;
    width: 700px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-3b-97 {
    position: absolute;
    top: 250px;
    left: 649px;
    width: 700px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }






  //B區 路線

  .cl-sr-1B-101 {
    position: absolute;
    top: 250px;
    left: 649px;
    width: 700px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }


  .cl-sr-1B-98 {
    position: absolute;
    top: 250px;
    left: 649px;
    width: 700px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }

  .cl-sr-1B-97 {
    position: absolute;
    top: 250px;
    left: 649px;
    width: 700px;
    height: 600px;
    stroke-width: 6px;
    stroke: #bdb9a5;

  }




}