.txt-8-B {
  border-style: solid;
  border-color: #303030;
  border-width: 0px;
  background-color: rgba(127, 255, 212, 0);


  font-family: "NotoSansTc-Regular", sans-serif;
  font-size: 8px;
  width: 52px;
  height: 12px;

  padding: 0 0 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.txt-8-B-fff {
  border-style: solid;
  border-color: #303030;
  border-width: 0px;
  background-color: rgba(127, 255, 212, 0);
  color: #ffffff;

  font-family: "NotoSansTc-Regular", sans-serif;
  font-size: 8px;
  width: 100px;
  height: 12px;

  padding: 0 0 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;

}



.txt-10-B {
  border-style: solid;
  border-color: #303030;
  border-width: 0px;
  background-color: rgba(127, 255, 212, 0);
  font-family: "NotoSansTc-Regular", sans-serif;
  font-size: 10px;
  width: 64px;
  height: 12px;
  /* padding: 0 0 0 1px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}


.txt-10-B-N {
  border-style: solid;
  border-color: #303030;
  border-width: 0px;
  background-color: rgba(127, 255, 212, 0);
  font-family: "NotoSansTc-Regular", sans-serif;
  font-size: 10px;
  // width: 64px;
  // height: 12px;
  /* padding: 0 0 0 1px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;

}



.txt-10-B-fff {
  border-style: solid;
  border-color: #303030;
  border-width: 0px;
  background-color: rgba(127, 255, 212, 0);
  color: #ffffff;

  font-family: "NotoSansTc-Regular", sans-serif;
  font-size: 10px;
  width: 110px;
  height: 12px;

  padding: 0 0 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.txt-10-B-fff-N {
  border-style: solid;
  border-color: #303030;
  border-width: 0px;
  background-color: rgba(127, 255, 212, 0);
  color: #ffffff;

  font-family: "NotoSansTc-Regular", sans-serif;
  font-size: 10px;
  // width: 110px;
  // height: 12px;

  padding: 0 0 0 1px;
  // display: flex;
  // align-items: center;
  // justify-content: center;

}

.txt-10-B-fff-N-bg {
  border-style: solid;

  border-width: 0px;
  background-color: #c9c9c9;
  color: #303030;

  font-family: "NotoSansTc-Regular", sans-serif;
  font-size: 10px;

  border: 1px solid #707070;
  /* 綠色邊框 */
  padding: 0 0 0 1px;

}




.txt-18-B-N {
  border-style: solid;
  border-color: #303030;
  border-width: 0px;
  background-color: rgba(127, 255, 212, 0);
  font-family: "NotoSansTc-Regular", sans-serif;
  font-weight: 700;
  font-size: 18px;
  // width: 64px;
  height: 12px;
  /* padding: 0 0 0 1px; */
  display: flex;
  align-items: center;
  justify-content: center;
}


.txt-12-B-N {

  border-color: #303030;
  border-width: 0px;
  background-color: rgba(127, 255, 212, 0);
  font-family: "NotoSansTc-Regular", sans-serif;
  font-weight: 700;
  font-size: 12px;
  // width: 64px;
  // height: 12px;
  /* padding: 0 0 0 1px; */
  display: flex;
  align-items: center;
  justify-content: center;
}




.txt-12-fff-N {

  color: #ffffff;
  border-width: 0px;

  font-family: "NotoSansTc-Regular", sans-serif;
  font-weight: 500;
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.txt-12-N {

  color: #303030;
  border-width: 0px;
  font-family: "NotoSansTc-Regular", sans-serif;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt-14-B-fff-N {
  border-style: solid;
  border-color: #303030;
  border-width: 0px;
  background-color: rgba(255, 255, 255, 0);
  font-family: "NotoSansTc-Regular", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  // width: 64px;
  // height: 12px;
  /* padding: 0 0 0 1px; */
  display: flex;
  align-items: center;
  justify-content: center;
}